<div class = "container px-5 px-sm-0">
  <div class = "row">
    <h3 class = "mx-auto">新規投稿</h3>
  </div>

  <div class = "row">
    <div class ="col-6">
      <div class = "box">
        <div id = "map"></div>
        <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBWxfFhLbK1vkuwAvn2bd_rboSEtcPJeEg&callback=initMap" async defer></script>
      </div>
    </div>

    <div class = "col-3">
      <div class = "form">
        <%= form_with model: @post, local: true do |f| %>
          <%= f.text_field :title, placeholder: "タイトル" %>

          <%= f.fields_for :routes do |i| %>
            <%= i.text_field :departure_point, placeholder: "出発地", id: "departure" %>
            <label>
              <div id="waypoint-list"></div>
              <input type="button" id="waypoint-btn" value="＋" onclick="addForm()"><br>
            </label><br />
            <%= i.text_field :arrival_point, placeholder: "到着地", id: "arrival" %>
          <% end %>

          <input type="button" id="route-btn" value="経路を検索"><br />
          <%= f.submit "送信" %>
        <% end %>

        </form>
      </div>
    </div>

    <div class = "col-3">
      <!--<%= form_with model: @post, local: true do |f| %>-->
      <!--  <%= f.label "タイトル" %>-->
      <!--  <%= f.text_field :title, class: "float-right" %>-->
      <!--  <%= f.label "出発地" %>-->
      <!--  <%= f.text_field :departure_point, class: "float-right" %>-->
      <!--  <%= f.label "経由地1" %>-->
      <!--  <%= f.text_field :way_point1, class: "float-right" %>-->
      <!--  <%= f.label "経由地2" %>-->
      <!--  <%= f.text_field :way_point2, class: "float-right" %>-->
      <!--  <%= f.label "経由地3" %>-->
      <!--  <%= f.text_field :way_point3, class: "float-right" %>-->
      <!--  <%= f.label "経由地4" %>-->
      <!--  <%= f.text_field :way_point4, class: "float-right" %>-->
      <!--  <%= f.label "経由地5" %>-->
      <!--  <%= f.text_field :way_point5, class: "float-right" %>-->
      <!--  <%= f.label "経由地6" %>-->
      <!--  <%= f.text_field :way_point6, class: "float-right" %>-->
      <!--  <%= f.label "経由地7" %>-->
      <!--  <%= f.text_field :way_point7, class: "float-right" %>-->
      <!--  <%= f.label "経由地8" %>-->
      <!--  <%= f.text_field :way_point8, class: "float-right" %>-->
      <!--  <%= f.label "到着地" %>-->
      <!--  <%= f.text_field :arrival_point, class: "float-right" %>-->
      <!--  <%= f.submit "投稿" %>-->
      <!--<% end %>-->

    </div>
  </div>
</div>