<div class = "container px-5 px-sm-0">
  <div class = "row">
    <h3 class = "mx-auto">新規投稿</h3>
  </div>

  <div class = "row">
    <div class ="col-6">
      <div class = "box">
        <div id = "map"></div>
        <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBWxfFhLbK1vkuwAvn2bd_rboSEtcPJeEg&callback=initMap" async defer></script>
      </div>
    </div>

    <div class = "col-3">
      <div class = "form">
        <%= form_with model: @post, local: true, id: 'way-points-form' do |f| %>
          <%= f.text_field :title, placeholder: "タイトル" %>

          <%= f.fields_for :routes do |i| %>
            <%= i.text_field :departure_point, placeholder: "出発地", id: "departure" %>
            <div id = "waypoint-list">
              <% for num in 1..8 do %>
                <%= i.text_field :"way_point#{num}", id: "way-point-#{num}", class: 'd-none', placeholder: "経由地#{num}" %>
              <% end %>
            </div>
            <input type="button" id="waypoint-btn" value="＋" onclick="addForm()"><br>
            <%= i.text_field :arrival_point, placeholder: "到着地", id: "arrival" %>
          <% end %>

          <input type="button" id="route-btn" value="経路を検索"><br />
          <%= f.submit "投稿" %>
        <% end %>

        </form>
      </div>
    </div>

  </div>
</div>
